PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/accessibility-testing
CORS_ORIGIN=http://localhost:3000,http://127.0.0.1:3000
API_TIMEOUT=300000
REQUEST_BODY_LIMIT=50mb
BROWSER_NAVIGATION_TIMEOUT=180000
BROWSER_NETWORK_IDLE_TIMEOUT=10000
PDF_UPLOAD_LIMIT_BYTES=104857600
VERAPDF_COMMAND=verapdf
VERAPDF_DOWNLOAD_URL=https://verapdf.org/software/
VERAPDF_ARGS=
VERAPDF_PDFUA_PROFILE=
VERAPDF_PROFILE=
VERAPDF_FLAVOUR=
VERAPDF_TIMEOUT_MS=120000
JAWS_TRANSCRIPTION_MODE=auto
JAWS_EXE_PATH=C:\Program Files\Freedom Scientific\JAWS\2026\jfw.exe
JAWS_BROWSER_CHANNEL=msedge
JAWS_BROWSER_PROFILE_DIR=
JAWS_SAY_ALL_CAPTURE_WAIT_MS=9000
JAWS_TRAVERSAL_MODE=step
JAWS_TRAVERSAL_MAX_STEPS=500
JAWS_TRAVERSAL_IDLE_LIMIT=25
JAWS_TRAVERSAL_STEP_WAIT_MS=250
JAWS_KEEP_BROWSER_OPEN=false
JAWS_BROWSER_CLOSE_TIMEOUT_MS=5000
